/* From Uiverse.io by Vazafirst */
.main {
  background-color: rgba(52, 51, 51, 0.895);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .main2 {
    width: 40%;
    height: 300px;
    background-color: white;
    position: relative;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 153, 255, 0.6), 0 0 40px rgba(0, 153, 255, 0.4),
      0 0 60px rgba(0, 217, 255, 0.2);
  }
}

#h3 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  right: 20%;
  position: absolute;
  top: 45%;
}

.name-list {
  position: absolute;
  border-radius: 5px;
  top: 15%;
  left: 10%;
  width: 220px;
  font-size: 20px;
  h3 {
    padding: 10px;
    border-bottom: 2px solid #000;
    margin: 0;
  }
  .item {
    border: 1px solid #fff;
    padding: 5px;
    transition: background-color 0.5s ease;
    opacity: 0;
    font-size: 1.5rem;
  }
  .highlight {
    transition: all 1s ease;
    color: rgb(0, 0, 0);
    opacity: 1;
  }
}
