<div class="main">
  <div class="header">
    <div class="button-container">
      <div class="button" (click)="phone()">
        <i class="fa-solid fa-phone"></i>
      </div>

      <div class="button btn-last" routerLink="/home/Info">
        <i class="fa-solid fa-info"></i>
      </div>
    </div>

    <div class="left-hed">
      <img
        src="https://www.vietnamtravelgroup.com.vn/datafiles/32985/upload/files/Vietnam%20Travel%20Group.jpg"
        alt=""
        class="logo"
      />
    </div>

    <div class="center-hed">
      <div routerLink="/home/Main" class="nav">TRANG CHỦ</div>
      <div routerLink="/home/Introduce" class="nav">GIỚI THIỆU</div>
      <div class="nav nav-tour">
        TOUR DU LỊCH <i class="fa-solid fa-angle-down"></i>

        <ul>
          <li routerLink="/home/Tour">TOUR TRONG NƯỚC</li>
          <li routerLink="/home/Tour2">TOUR NGOÀI NƯỚC</li>
        </ul>
      </div>
      <div routerLink="/home/Img" class="nav">THƯ VIỆN ẢNH</div>
      <div class="nav nav-tour">
        ADMIN <i class="fa-solid fa-angle-down"></i>
        <ul>
          <li routerLink="/home/Admin">THÊM TOURISM</li>
          <li routerLink="">THOÁT</li>
        </ul>
      </div>
    </div>
    <div class="right-hed">
      <img
        src="https://www.vietnamtravelgroup.com.vn/datafiles/32985/upload/files/640px-Flag_of_Vietnam.svg.png"
        alt=""
        class="flag"
      />
      <img
        src="https://www.vietnamtravelgroup.com.vn/datafiles/32985/upload/files/shu-US-Flag-91811015-Globe-Turner.jpg"
        alt=""
        class="flag"
      />
    </div>
  </div>

  <div class="body">
    <router-outlet></router-outlet>
  </div>

  <div class="fotter">
    <div class="ft">
      <div class="item">
        <h3>VIETNAM TRAVEL GROUP JSC I</h3>
        <div class="content">
          55 Đỗ Quang Đẩu, P. Phạm Ngũ Lão , Quận 1 , Thành Phố Hồ Chí Minh
        </div>
        <div class="content">Tổng đài: (028) 7307 9999 - (+84) 935 746 946</div>
        <div class="content">Email: bookingtravelgroup.com.vn</div>
        <div class="content">Facebook:</div>
        <div class="content">
          Giấy phép đăng kí kinh doanh (Mã số thuế): 0311109560 do Sở KHĐT
          TP.HCM cấp.
        </div>
      </div>
      <div class="item">
        <h3>CÁC CHI NHÁNH VĂN PHÒNG</h3>
        <div class="chill">
          <span
            ><i class="fa-solid fa-location-dot"></i>CHI NHÁNH tp hồ chí minh
          </span>
          <div class="chill-content">
            ĐỊA CHỈ: 55 Đỗ Quang Đẩu, P. Phạm Ngũ Lão , Quận 1 Thành Phố Hồ Chí
            Minh
          </div>
        </div>
        <div class="chill">
          <span
            ><i class="fa-solid fa-location-dot"></i>CHI NHÁNH PHÚ QUỐC
          </span>
          <div class="chill-content">
            ĐỊA CHỈ: Tổ 8, Lô A, Khu Tái Định Cư, Khu Phố 5, Phường Dương
            Đông,Thành Phố Phú Quốc, Tỉnh Kiên Giang, Việt Nam
          </div>
        </div>
        <div class="chill">
          <span
            ><i class="fa-solid fa-location-dot"></i>CHI NHÁNH BUÔN MA THUỘT
          </span>
          <div class="chill-content">
            ĐỊA CHỈ: 159/2 Trần Quý Cáp, P.Tự An , TP. Buôn Ma Thuột, Tỉnh Dak
            Lak
          </div>
        </div>
      </div>
      <div class="item">
        <div class="content">
          <h3>CHI NHÁNH HUẾ</h3>
          <span
            ><i class="fa-solid fa-location-dot"></i>ĐỊA CHỈ : 31 Chu Văn An,
            Thành Phố Huế, Tỉnh Thừa Thiên Huế
          </span>
        </div>
        <div class="content">
          <h3>CHI NHÁNH HÀ NỘI</h3>
          <span
            ><i class="fa-solid fa-location-dot"></i>ĐỊA CHỈ : Số 22 ,1/122 Phú
            Viên, Bồ Đề , Long Biên , Thủ đô Hà Nội
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
