<div class="main">
  <div class="img"><h1>Giới Thiệu</h1></div>
  <div class="content">
    <h1>CÔNG TY CỔ PHẦN VIETNAM TRAVEL GROUP</h1>
    <h2>TOP 10 CÔNG TY DU LỊCH HÀNG ĐẦU VIỆT NAM</h2>

    <div class="content-item">
      <strong>THÔNG TIN CƠ BẢN VỀ CÔNG TY</strong>
      <ul>
        <li>
          Tên chính thức : <strong>CÔNG TY CỔ PHẦN VIETNAM TRAVEL GROUP</strong>
        </li>
        <li>
          Tên giao dịch đối ngoại:
          <strong>VIETNAM TRAVEL GROUP JOINT STOCK COMPANY</strong>
        </li>
        <li>Tên giao dịch viết tắt: VNT GROUP</li>
        <li>Hình thức sở hữu: Cổ phần; Thành lập: Ngày 02/09/2011</li>
        <li>Giấy phép LHQT số: GP79-747/2015/TCDL-GP LHQT</li>
        <li>
          Số ĐKKD: 0311109560 được cấp bởi Sở Kế hoạch và Đầu tư TP. Hồ Chí
          Minh.
        </li>
        <li>Đăng ký lần đầu ngày 01/09/2011,</li>
        <li>Đăng ký thay đổi lần 11 ngày 22/08/2022</li>
      </ul>

      <strong>TRỤ SỞ CHÍNH</strong>
      <ul>
        <li>
          Địa chỉ: 55 Đỗ Quang Đẩu, Phường Phạm Ngũ Lão, Quận 1, Thành phố Hồ
          Chí Minh, Việt Nam
        </li>
        <li>Hotline : 028 7307 9999</li>
        <li>Tel: (+84) 935 746 946</li>
        <li>Website: www.vietnamtravelgroup.com.vn</li>
        <li>Email: infotravelgroup.com.vn</li>
      </ul>

      <strong>Công ty Cổ phần Vietnam Travel Group tự hào: </strong>
      <br /><br />
      <span
        >Với sự am hiểu về điểm đến và sự tôn vinh cái đẹp trong nền văn hóa
        Việt Nam cũng như của các nước bạn,
        <strong>Vietnam Travel Group</strong> luôn cập nhật những thay đổi cấp
        thiết để hòa mình vào sự chuyển mình của ngành du lịch trong và ngoài
        nước. Với tầm nhìn xa; sự tin tưởng mãnh liệt vào sự lãnh đạo của Ban
        Giám Đốc với kinh nghiệm lâu năm trong lãnh vực lữ hành và sự trợ giúp
        và tư vấn của các chuyên viên cùng các chuyên gia trong và ngoài nước;
        và sự tôn trọng đóng góp của mọi thành viên trong công ty,<strong>
          Vietnam Travel Group</strong
        >
        phấn đấu để luôn giữ vị trí là một trong những công ty du lịch hàng đầu
        của Việt Nam và khu vực về qui mô, chất lượng và uy tín. <br />
        <br />Với nguồn lực dồi dào, tài chính vững mạnh, kinh nghiệm và uy tín
        trong lĩnh vực dịch vụ du lịch, mối quan hệ bền vững với các đối tác lớn
        khắp nơi trên thế giới, đội ngũ nhân viên năng động và chuyên
        nghiệp,<strong> Vietnam Travel Group</strong> luôn nỗ lực mang đến cho
        khách hàng những sản phẩm du lịch giá trị nhất cũng như những trải
        nghiệm đáng nhớ nhất cho mỗi chuyến đi.</span
      >
      <br /><br /><br /><br />
      <strong>NHỮNG THÀNH TỰU ĐẠT ĐƯỢC:</strong> <br /><br />
      <img
        src="https://www.vietnamtravelgroup.com.vn/datafiles/32985/upload/files/192ed7ff12cccf9296dd.jpg"
        alt=""
      />
      <br /><br /><br />

      <strong>CÁC SẢN PHẨM CỦA CÔNG TY</strong>
      <h3>Du lịch chuyên đề</h3>
      <ul>
        <li>Du lịch Lễ Hội.</li>
        <li>Du lịch kết hợp chăm sóc sức khỏe & làm đẹp.</li>
        <li>Du lịch ẩm thực & Giao lưu văn hóa.</li>
        <li>Booking khách sạn</li>
        <li>Du lịch công vụ & tìm hiểu cơ hội đầu tư.</li>
      </ul>
    </div>
  </div>
</div>
