<div class="main">
  <div class="carousel">
    <app-slider></app-slider>
  </div>

  <div class="content-head">
    <span>Trải nghiệm du lịch tuyệt vời cùng Vietnam travel Group</span>
    <div class="cont">
      Vietnam Travel Group là một trong những công ty Du lịch hàng đầu Việt Nam,
      luôn không ngừng mang đem đến cho du khách của mình những trải nghiệm thú
      vị trong hành trình đến những miền đất Việt Nam tươi đẹp và những nền văn
      minh của các quốc gia trên thế giới.
    </div>
  </div>

  <div class="tour-list">
    <strong class="title">Các Tour ưu đãi giờ vàng</strong>
    <div class="list">
      <div class="items">
        <img
          src="https://www.vietnamtravelgroup.com.vn/datafiles/32985/upload/images/albums/Trung-Quoc/POSTER1080-02.jpg?t=1727926336"
          alt=""
        />
        <h3>KHÁM PHÁ LỆ GIANG – SHANGRILA</h3>
        <div class="item">
          <div class="child"><i class="fa-solid fa-clock"></i>6 Ngày</div>
          <strong>17.990.000 vnd</strong>
        </div>
        <div class="item">
          <div class="child">
            <i class="fa-solid fa-truck-plane"></i> Máy bay <span></span>
          </div>
          <div class="star">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i>
          </div>
        </div>
      </div>

      <div class="items">
        <img
          src="https://www.vietnamtravelgroup.com.vn/datafiles/32985/upload/images/albums/%E1%BA%A3nh%20b%C3%ACa%20TL/KhamPhaThienDuongBien.jpg"
          alt=""
        />
        <h3>KHÁM PHÁ THIÊN ĐƯỜNG BIỂN ĐẢO PHUKET - ĐẢO PHI PHI</h3>
        <div class="item">
          <div class="child"><i class="fa-solid fa-clock"></i>4 Ngày 3 Đêm</div>
          <strong>8.999.000 vnd</strong>
        </div>
        <div class="item">
          <div class="child">
            <i class="fa-solid fa-truck-plane"></i> Ô tô/ Máy bay<span></span>
          </div>
          <div class="star">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
          </div>
        </div>
      </div>
      <div class="items">
        <img
          src="https://www.vietnamtravelgroup.com.vn/datafiles/32985/upload/images/han-1280x720.jpg?t=1681272281"
          alt=""
        />
        <h3>KHÁM PHÁ XỨ SỞ KIM CHI HÀN QUỐC SEOUL - ĐẢO NAME - EVERILAND</h3>
        <div class="item">
          <div class="child"><i class="fa-solid fa-clock"></i>5 Ngày 4 Đêm</div>
          <strong>13.990.000 vnd</strong>
        </div>
        <div class="item">
          <div class="child">
            <i class="fa-solid fa-truck-plane"></i> Ô tô/ Máy bay<span></span>
          </div>
          <div class="star">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i>
          </div>
        </div>
      </div>
      <div class="items">
        <img
          src="https://www.vietnamtravelgroup.com.vn/datafiles/32985/upload/images/CT/2-9/MyTho-BenTre-CanTho-ChauDoc%281%29.jpg"
          alt=""
        />
        <h3>MIỀN TÂY - MỸ THO - BẾN TRE - CẦN THƠ - CHÂU ĐỐC</h3>
        <div class="item">
          <div class="child"><i class="fa-solid fa-clock"></i>3 Ngày 2 Đêm</div>
          <strong>3.990.000 vnd</strong>
        </div>
        <div class="item">
          <div class="child">
            <i class="fa-solid fa-truck-plane"></i> Ô tô<span></span>
          </div>
          <div class="star">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
          </div>
        </div>
      </div>
      <div class="items">
        <img
          src="https://www.vietnamtravelgroup.com.vn/datafiles/32985/upload/images/CT/2-9/coverdithailansieuuudai.jpg?t=1729160141"
          alt=""
        />
        <h3>PHÚ QUỐC</h3>
        <div class="item">
          <div class="child"><i class="fa-solid fa-clock"></i>3 Ngày 2 Đêm</div>
          <strong>1.990.000 vnd</strong>
        </div>
        <div class="item">
          <div class="child">
            <i class="fa-solid fa-truck-plane"></i> Ô tô/ Máy bay<span></span>
          </div>
          <div class="star">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i>
          </div>
        </div>
      </div>
      <div class="items">
        <img
          src="https://www.vietnamtravelgroup.com.vn/datafiles/32985/upload/images/CT/2-9/PhuQuoc4N3D.jpg?t=1724149428"
          alt=""
        />
        <h3>ĐẢO NGỌC PHÚ QUỐC THIÊN ĐƯỜNG CỦA BIỂN</h3>
        <div class="item">
          <div class="child"><i class="fa-solid fa-clock"></i>4 Ngày 3 Đêm</div>
          <strong>3.590.000 vnd</strong>
        </div>
        <div class="item">
          <div class="child">
            <i class="fa-solid fa-truck-plane"></i> Ô tô/ Máy bay<span></span>
          </div>
          <div class="star">
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ><i class="fa-solid fa-star"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tour-hot">
    <div class="title">TOUR HOT 2024</div>
    <div class="list">
      <div class="items" *ngFor="let api of Api">
        <img class="img" [src]="api.img" alt="" />
        <div class="item">
          <h3>{{ api.name }}</h3>
          <div class="child">
            <div><i class="fa-solid fa-clock"></i>{{ api.time }}</div>
            <strong>{{ api.price | number : "1.0-0" }} vnd</strong>
          </div>
          <div class="child">
            <div><i class="fa-solid fa-truck-plane"></i>{{ api.vehcel }}</div>
            <strong
              ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
            ></strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="img-fotter">
    <div class="img-parent">
      <div class="wrap">
        <img
          src="https://www.vietnamtravelgroup.com.vn/datafiles/32985/upload/images/54257490_774241232975742_820332727696883712_n-e1641441365348.jpg?t=1696606517"
          alt=""
        />
      </div>
      <div class="wrap">
        <img
          src="https://www.vietnamtravelgroup.com.vn/datafiles/32985/upload/images/di-thai-lan-mua-nao-dep-nhat.jpg?t=1696606642"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
